@font-face {
  font-family: 'FedraMonoPro-Bold';
  src: local('FedraMonoPro-Bold'), url(./fonts/FedraMonoPro-Bold.otf) format('opentype');
}

body{
  background-color: #000;
}

.App {
  text-align: center;
  font-family: 'FedraMonoPro-Bold';
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.section {
  /*display: inline-block;*/
  margin-top: 10px;
}
.section .row{
  display: inline;
  margin-top: 5px;
  margin-right: 20px;
}

.range-control label .value, .section .row .value{
  display: inline-block;
  width: 30px;
  text-align: right;
}

.Controls{
  color: #fff;
  /*text-align: left;*/
}

.Display{
  /*vertical-align: top;*/
  /*text-align: right;*/
}