.Letter {
  height: 180px;
  width: 120px;
  display: inline-block;
  margin: 0px 5px;
  position: relative;
  perspective: 1000px; }
  .Letter .flap {
    height: 90px;
    width: 120px;
    background: #000;
    border: 1px solid #fff;
    overflow: hidden;
    position: absolute;
    transition-property: top;
    transition-duration: 1000ms;
    top: 0; }
    .Letter .flap.top, .Letter .flap.middle:not(.flip) {
      border-bottom: 3px solid #000; }
    .Letter .flap.middle.flip {
      border-bottom: 1px solid #000; }
    .Letter .flap.middle {
      z-index: 1;
      transform-origin: 0 100% 0; }
    .Letter .flap.bottom {
      border-top: 3px solid #000;
      top: 90px; }
    .Letter .flap .text {
      width: 100%;
      position: absolute;
      left: 0;
      font-size: 200px;
      line-height: 180px;
      color: #fff;
      text-align: center; }
    .Letter .flap.top .text,
    .Letter .flap.middle:not(.flip) .text {
      top: 10px; }
    .Letter .flap.middle.flip .text {
      top: -10px; }
    .Letter .flap.bottom .text {
      top: -80px; }
